@using Nancy;
@using Ideastrike.Nancy.Helpers;
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<html class="no-js" lang="en">
<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <script type="text/javascript">
        (function () {
            if (typeof window.janrain !== 'object') window.janrain = {};
            window.janrain.settings = {};

            janrain.settings.tokenUrl = '@(string.Format(@"{0}", UrlExtensions.ToPublicUrl(HttpContext.Current, new Uri("login/token", UriKind.Relative))))';

            function isReady() { janrain.ready = true; };
            if (document.addEventListener) {
                document.addEventListener("DOMContentLoaded", isReady, false);
            } else {
                window.attachEvent('onload', isReady);
            }

            var e = document.createElement('script');
            e.type = 'text/javascript';
            e.id = 'janrainAuthWidget';

            if (document.location.protocol === 'https:') {
                e.src = 'https://rpxnow.com/js/lib/code52/engage.js';
            } else {
                e.src = 'http://widget-cdn.rpxnow.com/js/lib/code52/engage.js';
            }

            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(e, s);
        })();
    </script>
    <title>@Model.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @* TODO: Minimize, I usually use Squishit *@ @*    <link href="@Url.Content("~/Resources/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Resources/media.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Resources/ideastrike.css")" rel="stylesheet" />
*@
    <link href="@Url.Content("~/resources/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/resources/css/bootstrap-responsive.css")" rel="stylesheet">
    <link href="@Url.Content("~/resources/css/docs.css")" rel="stylesheet">
    <link href="@Url.Content("~/resources/js/google-code-prettify/prettify.css")" rel="stylesheet">
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/resources/ico/favicon.ico")">
    <link rel="shortcut icon" href="@Url.Content("~/resources/ico/apple-touch-icon.ico")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/resources/ico/apple-touch-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/resources/ico/apple-touch-icon-114x114.png")">
    <link href="@Url.Content("~/Resources/jquery.fancybox.css")" rel="stylesheet" />
    @RenderSection("HeadContent", false)
    <script src="@Url.Content("~/Resources/modernizr-2.0.min.js")"></script>
    <script src="@Url.Content("~/Resources/respond.min.js")"></script>
    <link href="@Url.Content("~/Resources/style.css")" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="#">Ideastrike</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/idea/new">New Idea</a></li>
                        @if (Model.IsLoggedIn)
                        {
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">@Model.UserName
                                <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/profile/edit">Profile</a></li>
                                    @if (Model.Claims != null && Model.Claims.Contains("admin"))
                                    {
                                        <li><a href="/admin/">Admin Panel</a></li>
                                    }
                                    <li><a href="/logout">Log out</a></li>
                                </ul>
                            </li>

                        }
                        else
                        { 
                            <ul class="nav secondary-nav">
                                <li><a class="janrainEngage" href="#">Sign In</a></li></ul>
                        }
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            @RenderBody()
        </div>
        <footer>
            <p><a href="https://github.com/code52/ideastrike">Powered by Ideastrike</a></p>
        </footer>
    </div>
    <!-- /container -->
    <!-- Script at the bottom for fast page loading -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/jquery.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/jgoogle-code-prettify/prettify.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/bootstrap-transition.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/bootstrap-alert.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/bootstrap-modal.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/bootstrap-dropdown.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/bootstrap-scrollspy.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/bootstrap-tab.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/bootstrap-tooltip.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/bootstrap-popover.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/bootstrap-button.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/bootstrap-collapse.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/bootstrap-carousel.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/bootstrap-typeahead.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/resources/js/application.js")"> </script>
    <script src="@Url.Content("~/Resources/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Resources/showdown.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Resources/ideastrike.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Resources/social.js")"></script>
    <script src="@Url.Content("~/Resources/mustache.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Resources/jquery.fancybox.pack.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".close").click(function () {
                $(".alert-message").hide();
            });
        });
    </script>
    @RenderSection("PageScript", false)
</body>
</html> 